<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz</title>
</head>
<body>
  <div class="quiz-container">
   <h1>Quiz Questions</h1>

  <form action="/submit" method="post">
   {% for question in questions %}
    <div class="question-container">
        <h3>{{ question.question }}</h3>
        {% for answer in question.answers %}
            <label class="radio-container">
                <input type="radio" name="{{ question.name }}" id="{{ question.name }}_{{ loop.index }}" value="{{ answer }}">
                <span class="custom-radio"></span> <!-- For styling -->
                {{ answer }}
            </label>
        {% endfor %}
    </div>
{% endfor %}

            </ul>
        </div>
    {% endfor %}
    
    <button type="submit">Submit</button>
</form>


</div>
</body>
</html>
