<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Start Quiz</title>
</head>
<body>
    <h1>Welcome to the Quiz</h1>
    <form method="POST">
        <label for="email">Email Address:</label>
        <input type="email" name="email" required>

        <label for="site">Select your site:</label>
        <select name="site" required>
            <option value="" disabled selected>Select your site</option>
            <option value="Cary CRC">Cary CRC</option>
            <option value="Newcastle CRC">Newcastle CRC</option>
            <option value="Pune CRC">Pune CRC</option>
            <option value="5CA">5CA</option>
            <option value="Concentrix">Concentrix</option>
            <option value="PTW">PTW</option>
        </select>

        <button type="submit">Start Quiz</button>
    </form>
</body>
</html>
